body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.full-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.start-btn, .back-btn {
    position: absolute;
    bottom: 50px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

.start-btn:hover, .back-btn:hover {
    background-color: #0056b3;
}

.back-btn {
    bottom: 20px;
    right: 20px;
    font-size: 18px;
}

#question-content {
    margin: 20px;
    font-size: 28px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* Background branco semitransparente */
    padding: 15px;
    border-radius: 10px;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#options button {
    padding: 15px 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

#options button:hover {
    background-color: #218838;
}

#result-message {
    font-size: 32px;
    text-align: center;
}
